<!--Esta parte debe incluir:
 <head> con titulo <h1>
  y una imagen (<img> debe incluir src, alt y title)
 <nav> incluye lista <ul> con cada item como enlace (<a>)
  que redirige a: Inicio, Productos, Consejos de salud,
   Servicio de paseos, Sucursales, Contactanos
 <section>
 <aside>
 <footer>
-->
<!--Projecto web: Tienda de articulos de mascota
 Autor: Alvarez Carlos Matias
 Fecha: 6/1/2024
-->
<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <p>
        <img src="images/pets-3715733_1920.jpg" width="1920" 
            height="1280" alt="Mascotas">
            <!--Google recomienda colocar imagenes
                 dentro del directorio del index.html-->
            <!--No se recomienda el atributo 'title' dentro de la etiqueta <img>
                 por problemas de accesibilidad-->
    </p>
</head>
<body>
    <header>
        <h1>Tienda de Articulos de Mascota</h1>
    </header>
    <nav>
        <ul>
            <li><a></a></li>
        </ul>
    </nav>
</body>
