<!--Esta parte debe incluir:
 <head> con titulo <h1>
  y una imagen (<img> debe incluir src, alt y title)
 <nav> incluye lista <ul> con cada item como enlace (<a>)
  que redirige a: Inicio, Productos, Consejos de salud,
   Servicio de paseos, Sucursales, Contactanos
 <section>
 <aside>
 <footer>
-->
<!--Projecto web: Tienda de articulos de mascota
 Autor: Alvarez Carlos Matias
 Fecha: 6/1/2024
-->
<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <p>
        <img src="" alt="">
    </p>
</head>
<body>
    <header>
        <h1>Tienda de Articulos de Mascota</h1>
    </header>
</body>
