<!--
 Seccion de productos de la tienda
 Autor: Alvarez Carlos Matias
 Fecha: 11/1/2024
 -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <header>
        <h1>Productos destacados</h1>
    </header>
    <div>
        <ul>
            <li>
                <h2>Alimento</h2>
                <img src="images/cat-2170494_1280.jpg" width="1280"
                    height="960" alt="Comida para gatos">
                <p>Comida para gatos</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Pastilla</h2>
                <img>
                <p></p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Juguete</h2>
                <img>
                <p></p>
            </li>
        </ul>
    </div>
</body>
</html>