<!--
    Seccion de servicios de la tienda
    Autor: Alvarez Carlos Matias
    Fecha: 12/1/2024
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
</head>
<body>
    <header>
        <h1>Servicio de paseos</h1>
    </header>
    <table>
        <tr><!--<tr> es fila de la tabla-->
            <!--<th> es encabezado de la tabla-->
            <th>&nbsp;</th><!--espacio en blanco-->
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sabado</th>
        </tr>
        <tr>
            <th>Turno Mañana</th>
            <td>9hs a 12hs</td><!--<td> es dato o celda de la tabla-->
            <td>9hs a 12hs</td>
            <td>9hs a 12hs</td>
            <td>9hs a 12hs</td>
            <td>9hs a 12hs</td>
            <td>9hs a 12hs</td>
        </tr>
        <tr>
            <th>Turno Tarde</th>
            <td>16hs a 18hs</td>
            <td>16hs a 18hs</td>
            <td>16hs a 18hs</td>
            <td>16hs a 18hs</td>
            <td>16hs a 18hs</td>
            <td>16hs a 18hs</td>
        </tr>
        <tr>
            <th>Paseador</th>
            <td>Juan Perez</td>
            <td>Lucas Diaz</td>
            <td>Juan Perez</td>
            <td>Maria Gomez</td>
            <td>Lucas Diaz</td>
            <td>Roberto Vazquez</td>
        </tr>
    </table>
</body>
</html>