<!--pagina para formulario de productos-->
<form th:action="" th:object="" method="">
    <div class=""><input type="" class="" id="" th:field=""></div>
    <div class="">
        <label for="" class=""> </label>
        <input type="" class="" id="" th:field="" placeholder="" th:classappend="">
        <p class="" th:if="" th:errors=""></p>
    </div>
    <div class="">
        <label for="" class=""> </label>
        <input type="" class="" id="" th:field="" placeholder="" th:classappend="">
        <p class="" th:if="" th:errors=""></p>
    </div>
    <!--Para imagen-->
    <div class="">
        <label for="" class=""> </label>
        <input type="" class="" id="" th:field="" placeholder="" th:classappend="">
    </div>
    <!--Para categoria-->
    <div class="">
        <label for="" class=""> </label>
        <select class="" id="" th:field="" name="" th:classappend="">
            <option value="" disabled selected></option>
            <option th:each="" th:value="" th:text=""></option>
        </select>
        <p class="" th:if="" th:errors=""></p>
    </div>
    <div class="">
        <label for="" class=""> </label>
        <input type="" class="" id="" th:field="" placeholder="" th:classappend="">
        <p class="" th:if="" th:errors=""></p>
    </div>
    <div class="">
        <label for="" class=""> </label>
        <input type="" class="" id="" th:field="" placeholder="" th:classappend="">
        <p class="" th:if="" th:errors=""></p>
    </div>
    <div class="">
        <button type="" class=""> </button>
    </div>
</form>