<!--
    Seccion de consejos de la tienda
    Autor: Alvarez Carlos Matias
    Fecha: 13/1/2024
-->
<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consejos</title>
</head>
<body>
    <header>
        <h1>Consejos para tus mascotas</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#tip1">Visitar regularmente al veterinario</a></li>
            <li><a href="#tip2">Alimentar saludablemente</a></li>
            <li><a href="#tip3">Esterilizar a tiempo</a></li>
            <li><a href="#tip4">Aplicar todas sus vacunas</a></li>
            <li><a href="#tip5">Bañarlas y lavar sus dientes</a></li>
            <li><a href="#tip6">Entrenarlas</a></li>
        </ul>
    </nav>
    <main>
        <section id="tip1">
            <h2></h2>
            <p></p>
        </section>
        <section id="tip2">
            <h2></h2>
            <p></p>
        </section>
        <section id="tip3">
            <h2></h2>
            <p></p>
        </section>
        <section id="tip4">
            <h2></h2>
            <p></p>
        </section>
        <section id="tip5">
            <h2></h2>
            <p></p>
        </section>
        <section id="tip6">
            <h2></h2>
            <p></p>
        </section>
    </main>
</body>
</html>