
body {
    /*Color de fondo*/
    background-color:  #FF9999;
    /*Contenedor flexible*/
    display: flex;
    /*flex-direction y flex-wrap*/
    flex-flow: column wrap;
    /*Alineacion al centro del eje*/
    justify-content: center;
    /*Alineacion al inicio del eje secundario*/ 
    align-items: flex-start;
    /*Fuente*/
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
}
/*Colores de enlaces*/
a { /*Predeterminado*/
    color:  #0033FF;
}
a:active { /*Enlace seleccionado o activo*/
    color:  #FF0000; 
}
a:visited { /*Enlace ya visitado*/
    color:  #6633FF; 
}
.icon {
    width: 3rem;
    height: 3rem;
}
/*Componente*/
/*.persona-de-palito{}*/
/*Elemento*/
/*.persona-de-palito__brazo(o cabeza,pie){}*/
/*Modificador*/
/*.persona-de-palito--azul(o rojo)*/